HRCaseManagement/Workflows/Addusersfromfile-FE239EEB-95FE-EA11-A813-000D3AF3B5BE.json
{"properties":{"connectionReferences":{"shared_excelonlinebusiness":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"hr_sharedexcelonlinebusiness_b5f00"},"api":{"name":"shared_excelonlinebusiness"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hr_sharedcommondataserviceforapps_59aee"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"BusinessUnitId","type":"string","x-ms-dynamically-added":true,"description":"0c93f137-42af-ea11-a812-000d3af3b5be","x-ms-content-hint":"TEXT"},"text_1":{"title":"BasicRoleId","type":"string","x-ms-dynamically-added":true,"description":"DB23E119-12FF-411C-AD0C-5762D06E0B80","x-ms-content-hint":"TEXT"},"text_2":{"title":"ManagerTeamId","type":"string","x-ms-dynamically-added":true,"description":"1510f069-40af-ea11-a812-000d3af3b5be","x-ms-content-hint":"TEXT"},"text_3":{"title":"AdvisorTeamId","type":"string","x-ms-dynamically-added":true,"description":"498b94a6-f9db-ea11-a813-000d3af3b5be","x-ms-content-hint":"TEXT"},"text_4":{"title":"ApiUrl","type":"string","x-ms-dynamically-added":true,"description":"https://hrcms-dev-tcd365.crm3.dynamics.com/api/data/v9.1","x-ms-content-hint":"TEXT"},"text_5":{"title":"AdminTeamId","type":"string","x-ms-dynamically-added":true,"description":"e94565a0-ddac-ea11-a812-000d3af357bf","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5"]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"012UQ3HN57BV22EJYOAFDJGDSEBZG66VJY":"/HRCMS Users.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!IquDyzh4ZUigNml-uO75DisZ9hy4rGdOodUN9IfulJ4ENiQMAZl4RbIOAxQUQk17","file":"012UQ3HN57BV22EJYOAFDJGDSEBZG66VJY","table":"{949593B7-263A-4581-B7E4-969D86704EE6}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"For_each_user":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$filter":"contains(fullname, '%%')@{items('For_each_user')?['FullName']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Update_Business_Unit":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@items('Apply_to_each')?['systemuserid']","item/businessunitid@odata.bind":"/businessunits(@{triggerBody()['text']})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_Basic_Role":{"runAfter":{"Update_Business_Unit":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"roles","recordId":"@triggerBody()['text_1']","associationEntityRelationship":"systemuserroles_association","item/@odata.id":"@{triggerBody()['text_4']}/systemusers(@{items('Apply_to_each')?['systemuserid']})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Check_Role_1":{"actions":{"Add_to_Manager_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@triggerBody()['text_2']","associationEntityRelationship":"teammembership_association","item/@odata.id":"@{triggerBody()['text_4']}/systemusers(@{items('Apply_to_each')?['systemuserid']})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Add_Basic_Role":["Succeeded"]},"else":{"actions":{"Add_to_Advisor_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@triggerBody()['text_3']","associationEntityRelationship":"teammembership_association","item/@odata.id":"@{triggerBody()['text_4']}/systemusers(@{items('Apply_to_each')?['systemuserid']})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@items('For_each_user')?['Role1']","Manager"]},"type":"If"},"Check_Role_2":{"actions":{"Add_to_Admin_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@triggerBody()['text_5']","associationEntityRelationship":"teammembership_association","item/@odata.id":"@{triggerBody()['text_4']}/systemusers(@{items('Apply_to_each')?['systemuserid']})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Check_Role_1":["Succeeded"]},"expression":{"equals":["@items('For_each_user')?['Role2']","Access Control"]},"type":"If"}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}