HRCaseManagement/Workflows/ConfirmationofreceiptofrequestfromUser-FEF9E0C1-22FC-EA11-A813-000D3AF3B5BE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hr_sharedcommondataserviceforapps_53320"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hr_sharedoffice365_03cdf"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_pay_case_is_submitted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"hr_hrcase","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"hr_datereceived"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_case_type":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"hr_casetypes","recordId":"@triggerOutputs()?['body/_hr_casetype_value']"},"authentication":"@parameters('$authentication')"}},"Get_case_sub-type":{"runAfter":{"Get_case_type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"hr_casesubtypes","recordId":"@triggerOutputs()?['body/_hr_casesubtype_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_case_sub-type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/hr_email']","emailMessage/Subject":"Confirmation of receipt of request from @{triggerBody()?['hr_firstname']} @{triggerBody()?['hr_lastname']} / Accusé de réception de la requête de @{triggerBody()?['hr_firstname']} @{triggerBody()?['hr_lastname']}","emailMessage/Body":"<p>** Le texte français suit l`anglais. **<br>\n<br>\nWe have received your request.<br>\n<br>\nFor reference, your case number is: &nbsp;@{triggerBody()?['hr_name']}<br>\n<br>\nDetails:<br>\n<br>\nCase Type: &nbsp;@{body('Get_case_type')?['hr_nameen']}<br>\nCase Sub-Type: &nbsp;@{body('Get_case_sub-type')?['hr_nameen']}<br>\nDescription: &nbsp;<br>\n@{triggerBody()?['hr_description']}<br>\n<br>\nYou can check on the status of your case by clicking on this link to the HR Self-Service Portal.<br>\n<br>\nhttp://tcapps/Corp-Serv-Gen/3/ccms-sgcr<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n*********************************************<br>\n<br>\nNous avons reçu votre requête.<br>\n<br>\nÀ titre de référence, votre numéro de cas est : &nbsp;@{triggerBody()?['hr_name']}<br>\n<br>\nDétails :<br>\n<br>\nType du cas : @{body('Get_case_type')?['hr_namefr']}<br>\nSous-type du cas : @{body('Get_case_sub-type')?['hr_namefr']}<br>\nDescription : @{triggerBody()?['hr_description']}<br>\n<br>\nVous pouvez vérifier l’état de votre cas en cliquant sur ce lien au portail Libre service RH.<br>\n<br>\nhttp://tcapps/Corp-Serv-Gen/3/ccms-sgcr<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@triggerOutputs()?['body/hr_casestatus']",315840001]},{"equals":["@triggerOutputs()?['body/modifiedon']","@triggerOutputs()?['body/hr_datereceived']"]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}