HRCaseManagement/Workflows/Sendanemailwhenacaseissubmitted-0CDB5334-94C0-EA11-A812-000D3AF3B5BE.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('hr_hrcases'))}/onupdateditemswebhook","queries":{"scope":"Business unit"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_case_type":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org45007ffb.crm3'))}/tables/@{encodeURIComponent(encodeURIComponent('hr_casetypes'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_hr_casetype_value']))}","authentication":"@parameters('$authentication')"}},"Get_case_sub-type":{"runAfter":{"Get_case_type":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org45007ffb.crm3'))}/tables/@{encodeURIComponent(encodeURIComponent('hr_casesubtypes'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_hr_casesubtype_value']))}","authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)":{"runAfter":{"Get_case_sub-type":["Succeeded"]},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sendmail']['connectionId']"}},"method":"post","body":{"to":"@{triggerBody()?['hr_email']};","subject":"We have received your case: @{triggerBody()?['hr_casenumber']}","text":"<p>Hello @{triggerBody()?['hr_firstname']} @{triggerBody()?['hr_lastname']}<br>\n<br>\nWe have received your case.<br>\n<br>\nFor reference, your case number is: &nbsp;@{triggerBody()?['hr_casenumber']}<br>\nFirst Name: &nbsp;@{triggerBody()?['hr_firstname']}<br>\nLast Name: &nbsp;@{triggerBody()?['hr_lastname']}<br>\nDescription: @{triggerBody()?['hr_description']}<br>\nCase Type: @{body('Get_case_type')?['hr_name']}<br>\nCase Sub-Type: &nbsp;@{body('Get_case_sub-type')?['hr_name']}<br>\n<br>\nYou can check on the status of your case by logging into the HR Portal:<br>\n<br>\nhttp://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home?culture=en-ca<br>\n<br>\nThank you,<br>\nHR Pay</p>","ishtml":true},"path":"/v3/mail/send","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["",315840001]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}