HRCaseManagement/Workflows/Sendemailtoadminwhenaquestionisanswered-49CD9837-0A9B-EA11-A812-000D3AF3B5BE.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_answer_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnUpdatedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"org45007ffb.crm3","table":"hr_questionandanswerses","scope":"Business unit","subscriptionRequest/AttributeFilters":["hr_answer"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_HRCase":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"org45007ffb.crm3","table":"hr_hrcases","id":"@triggerOutputs()?['body/_hr_hrcase_value']"},"authentication":"@parameters('$authentication')"}},"Get_Owner_Email":{"runAfter":{"Get_HRCase":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"org45007ffb.crm3","table":"systemusers","id":"@outputs('Get_HRCase')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)":{"runAfter":{"Get_Owner_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Get_Owner_Email')?['body/internalemailaddress']};","request/subject":"Questions for Case @{outputs('Get_HRCase')?['body/hr_name']} have been updated","request/text":"<p>Hi @{outputs('Get_Owner_Email')?['body/firstname']} @{outputs('Get_Owner_Email')?['body/lastname']},<br>\n<br>\nThe user have answered your question(s). Please take a look.<br>\n<br>\nhttps://hrcms-dev-tcd365.crm3.dynamics.com/main.aspx?appid=cff0faf5-a173-ea11-a811-000d3af357bf&amp;pagetype=entityrecord&amp;etn=hr_hrcase&amp;id=@{outputs('Get_HRCase')?['body/hr_hrcaseid']}<br>\n<br>\nHR Pay</p>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}