HRCaseManagement/Workflows/Whenacaseisclosedv2-1FF47CD1-8086-EB11-A812-000D3A09CF0B.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hr_sharedoffice365_03cdf"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hr_sharedcommondataserviceforapps_53320"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"hr_hrcase","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"hr_casestatus eq 315840004 or hr_casestatus eq 315840005 or hr_casestatus eq 315840006"},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{},"cases":{"Case_Closed":{"case":315840004,"actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/hr_email']","emailMessage/Subject":"Case  has been closed / Cas  a été fermé","emailMessage/Body":"<p>Reason/Resolution:<br>\nTo view your case, please click on this link to the HR Self-Service Portal.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n****************************************<br>\n<br>\nVotre cas a été fermé.<br>\n<br>\nRaison/Résolution :<br>\nPour voir votre cas, veuillez cliquer sur ce lien au portail Libre service RH.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.</p>"},"authentication":"@parameters('$authentication')"}}}},"Case_withdraw_by_Pay":{"case":315840005,"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/hr_email']","emailMessage/Subject":"Case  has been withdrawn / Cas a été retiré","emailMessage/Body":"<p>** Le texte français suit l`anglais. **<br>\n<br>\nYour case has been withdrawn.<br>\n<br>\nReason/Resolution:<br>\nTo view your case, please click on this link to the HR Self-Service Portal.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n**************************************<br>\n<br>\nVotre cas a été retiré.<br>\n<br>\nRaison/Résolution :<br>\nPour voir votre cas, veuillez cliquer sur ce lien au portail Libre service RH.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.<br>\n</p>"},"authentication":"@parameters('$authentication')"}}}},"Case_withdraw_by_Client":{"case":315840006,"actions":{"Get_a_row_by_ID":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/hr_hrcaseid']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_3":{"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_a_row_by_ID')?['body/internalemailaddress']","emailMessage/Subject":"Case  has been withdrawn by the client - Cas  a été retiré par le client","emailMessage/Body":"<p>Case assigned to you has been withdrawn by the client.<br>\n<br>\nPlease click on this link to the Compensation Case Management System to view the case.<br>\n<br>\nhttps://hrcms-dev-tcd365.crm3.dynamics.com/main.aspx?appid=cff0faf5-a173-ea11-a811-000d3af357bf&amp;pagetype=entityrecord&amp;etn=hr_hrcase&amp;id=@{triggerOutputs()?['body/hr_hrcaseid']}<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n****************************************<br>\n<br>\nCas assigné à vous a été retiré par le client.<br>\n<br>\nVeuillez cliquer sur ce lien au Système de gestion des cas de rémunération pour voir le cas.<br>\n<br>\nhttps://hrcms-dev-tcd365.crm3.dynamics.com/main.aspx?appid=cff0faf5-a173-ea11-a811-000d3af357bf&amp;pagetype=entityrecord&amp;etn=hr_hrcase&amp;id=@{triggerOutputs()?['body/hr_hrcaseid']}<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.<br>\n</p>"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/hr_casestatus']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}