HRCaseManagement/Workflows/Whenaquestionisanswered-GetarecordGettheowneremail-64CBDBFF-55FC-EA11-A813-000D3AF357BF.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hr_sharedcommondataserviceforapps_53320"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hr_sharedoffice365_03cdf"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_question_is_answered":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"hr_questionandanswers","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"hr_answer"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_the_Pay_Case":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"hr_hrcases","recordId":"@triggerOutputs()?['body/_hr_hrcase_value']"},"authentication":"@parameters('$authentication')"}},"Get_the_owner_email":{"runAfter":{"Get_the_Pay_Case":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_the_Pay_Case')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_the_owner_email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_the_owner_email')?['body/internalemailaddress']","emailMessage/Subject":"A reply has been received to your question for Case @{outputs('Get_the_Pay_Case')?['body/hr_name']} / Une réponse a été reçue à votre question pour le cas @{outputs('Get_the_Pay_Case')?['body/hr_name']}","emailMessage/Body":"<p>** Le texte français suit l`anglais. **<br>\n<br>\nThe client has responded to your question.<br>\n<br>\nPlease click on this link to the Compensation Case Management System to view the reply.<br>\n<br>\nhttps://hrcms-dev-tcd365.crm3.dynamics.com/main.aspx?appid=cff0faf5-a173-ea11-a811-000d3af357bf&amp;pagetype=entityrecord&amp;etn=hr_hrcase&amp;id=@{outputs('Get_the_Pay_Case')?['body/hr_hrcaseid']}<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n*********************************************<br>\n<br>\nLe client a répondu à votre question.<br>\n<br>\nVeuillez cliquer sur ce lien au Système de gestion des cas de rémunération pour voir la réponse.<br>\n<br>\nhttps://hrcms-dev-tcd365.crm3.dynamics.com/main.aspx?appid=cff0faf5-a173-ea11-a811-000d3af357bf&amp;pagetype=entityrecord&amp;etn=hr_hrcase&amp;id=@{outputs('Get_the_Pay_Case')?['body/hr_hrcaseid']}<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}