HRCaseManagement/Workflows/Whenacaseisclosed-58F1D7CC-59FC-EA11-A813-000D3AF3B5BE.json
{"properties":{"connectionReferences":{"shared_sendmail":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hr_sharedsendmail_e1b89"},"api":{"name":"shared_sendmail"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hr_sharedcommondataserviceforapps_59aee"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_case_is_closed_withdrew_or_cancelled":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"hr_hrcase","subscriptionRequest/scope":2},"authentication":"@parameters('$authentication')"}}},"actions":{"If_case_is_closed":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/hr_email']};","request/subject":"Case @{triggerOutputs()?['body/hr_name']} has been closed / Cas @{triggerOutputs()?['body/hr_name']} a été fermé","request/text":"<p>Your case @{triggerOutputs()?['body/hr_name']} has been closed.<br>\n<br>\nResolution: &nbsp;@{triggerOutputs()?['body/hr_resolution']}<br>\n<br>\nTo view your case, please click on this link to the HR Self-Service Portal.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n****************************************<br>\n<br>\nVotre cas @{triggerOutputs()?['body/hr_name']} a été fermé.<br>\n<br>\nRésolution : @{triggerOutputs()?['body/hr_resolution']}<br>\n<br>\nPour voir votre cas, veuillez cliquer sur ce lien au portail Libre service RH.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"If_case_is_withdrawn_or_cancelled":{"actions":{"Send_an_email_notification_(V3)_2":{"runAfter":{"Get_Case_Subtype":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/hr_email']};","request/subject":"Your has @{triggerOutputs()?['body/hr_name']} has been withdrawn","request/text":"<p>** Le texte français suit l`anglais. **<br>\n<br>\nWe have received your request.<br>\n<br>\nFor reference, your case number is: &nbsp;@{triggerOutputs()?['body/hr_name']}<br>\n<br>\nDetails:<br>\n<br>\nCase Type: &nbsp;@{outputs('Get_Case_Type')?['body/hr_nameen']}<br>\nCase Sub-Type: &nbsp;@{outputs('Get_Case_Subtype')?['body/hr_nameen']}<br>\nDescription: &nbsp;@{triggerOutputs()?['body/hr_description']}<br>\n<br>\nYou can check on the status of your case by clicking on this link to the HR Self-Service Portal.<br>\n<br>\nhttp://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home?culture=en-ca<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n*********************************************<br>\n<br>\nNous avons reçu votre requête.<br>\n<br>\nÀ titre de référence, votre numéro de cas est : &nbsp;@{triggerOutputs()?['body/hr_name']}<br>\n<br>\nDétails :<br>\n<br>\nType du cas : @{outputs('Get_Case_Type')?['body/hr_namefr']}<br>\nSous-type du cas : @{outputs('Get_Case_Subtype')?['body/hr_namefr']}<br>\nDescription : @{triggerOutputs()?['body/hr_description']}<br>\n<br>\nVous pouvez vérifier l’état de votre cas en cliquant sur ce lien au portail Libre service RH.<br>\n<br>\nhttp://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home?culture=en-ca<br>\n<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.<br>\n</p>"},"authentication":"@parameters('$authentication')"}},"Get_Case_Type":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"hr_casetypes","recordId":"@triggerOutputs()?['body/_hr_casetype_value']"},"authentication":"@parameters('$authentication')"}},"Get_Case_Subtype":{"runAfter":{"Get_Case_Type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"hr_casesubtypes","recordId":"@triggerOutputs()?['body/_hr_casesubtype_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"or":[{"equals":["@triggerOutputs()?['body/hr_casestatus']",315840005]},{"equals":["@triggerOutputs()?['body/hr_casestatus']",315840006]}]},"type":"If"}}},"expression":{"equals":["@triggerOutputs()?['body/hr_casestatus']",315840004]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}