HRCaseManagement/Workflows/Whenacaseisclosed-58F1D7CC-59FC-EA11-A813-000D3AF3B5BE.json
{"properties":{"connectionReferences":{"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_case_is_closed_withdrew_or_cancelled":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"hr_hrcase","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"hr_casestatus","subscriptionRequest/filterexpression":"hr_casestatus eq 315840004 or hr_casestatus eq 315840005 or hr_casestatus eq 315840006"},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{},"cases":{"Case_Closed":{"case":315840004,"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/hr_email']};","request/subject":"Case @{triggerOutputs()?['body/hr_name']} has been closed / Cas @{triggerOutputs()?['body/hr_name']} a été fermé","request/text":"<p>Your case @{triggerOutputs()?['body/hr_name']} has been closed.<br>\n<br>\nReason/Resolution: @{triggerOutputs()?['body/hr_resolution']}<br>\nTo view your case, please click on this link to the HR Self-Service Portal.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n****************************************<br>\n<br>\nVotre cas @{triggerOutputs()?['body/hr_name']} a été fermé.<br>\n<br>\nRaison/Résolution : @{triggerOutputs()?['body/hr_resolution']}<br>\nPour voir votre cas, veuillez cliquer sur ce lien au portail Libre service RH.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.</p>"},"authentication":"@parameters('$authentication')"}}}},"Case_withdraw_by_Pay":{"case":315840005,"actions":{"Send_an_email_notification_(V3)_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/hr_email']};","request/subject":"Case @{triggerOutputs()?['body/hr_name']} has been withdrawn / Cas@{triggerOutputs()?['body/hr_name']} a été retiré","request/text":"<p>** Le texte français suit l`anglais. **<br>\n<br>\nYour case @{triggerOutputs()?['body/hr_name']} has been withdrawn.<br>\n<br>\nReason/Resolution: @{triggerOutputs()?['body/hr_resolution']}<br>\nTo view your case, please click on this link to the HR Self-Service Portal.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n**************************************<br>\n<br>\nVotre cas @{triggerOutputs()?['body/hr_name']} a été retiré.<br>\n<br>\nRaison/Résolution : @{triggerOutputs()?['body/hr_resolution']}<br>\nPour voir votre cas, veuillez cliquer sur ce lien au portail Libre service RH.<br>\n<br>\nhttps://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.<br>\n</p>"},"authentication":"@parameters('$authentication')"}}}},"Case_withdraw_by_Client":{"case":315840006,"actions":{"Get_the_owner_email":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)_4":{"runAfter":{"Get_the_owner_email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Get_the_owner_email')?['body/internalemailaddress']};","request/subject":"Case @{triggerOutputs()?['body/hr_name']} has been withdrawn by the client - Cas @{triggerOutputs()?['body/hr_name']} a été retiré par le client","request/text":"<p>Case @{triggerOutputs()?['body/hr_name']} assigned to you has been withdrawn by the client.<br>\n<br>\nPlease click on this link to the Compensation Case Management System to view the case.<br>\n<br>\nhttps://hrcms-dev-tcd365.crm3.dynamics.com/main.aspx?appid=cff0faf5-a173-ea11-a811-000d3af357bf&amp;pagetype=entityrecord&amp;etn=hr_hrcase&amp;id=@{triggerOutputs()?['body/hr_hrcaseid']}<br>\n<br>\nPlease do not respond to this e-mail which is system generated.<br>\n<br>\n****************************************<br>\n<br>\nCas @{triggerOutputs()?['body/hr_name']} assigné à vous a été retiré par le client.<br>\n<br>\nVeuillez cliquer sur ce lien au Système de gestion des cas de rémunération pour voir le cas.<br>\n<br>\nhttps://hrcms-dev-tcd365.crm3.dynamics.com/main.aspx?appid=cff0faf5-a173-ea11-a811-000d3af357bf&amp;pagetype=entityrecord&amp;etn=hr_hrcase&amp;id=@{triggerOutputs()?['body/hr_hrcaseid']}<br>\n<br>\nPrière de ne pas répondre à ce courriel qui est envoyé par le système.<br>\n</p>"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/hr_casestatus']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}