HRCaseManagement/Workflows/Whenacaseisclosed-Sendanemailnotification-2250AD6C-D19E-EA11-A812-000D3AF3B5BE.json
{"properties":{"connectionReferences":{"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"SubscribeOnUpdatedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"org45007ffb.crm3","table":"hr_hrcases","scope":"Business unit","subscriptionRequest/AttributeFilters":["hr_casestatus"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Send_an_email_notification_(V3)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/hr_email']};","request/subject":"Your case @{triggerOutputs()?['body/hr_name']} has been completed/closed","request/text":"<p>Hi @{triggerOutputs()?['body/hr_firstname']} @{triggerOutputs()?['body/hr_lastname']},<br>\n<br>\nYour case @{triggerOutputs()?['body/hr_name']} has been closed. Please take a look the portal: https://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nResolution: @{triggerOutputs()?['body/hr_resolution']}<br>\n<br>\nRegards,<br>\nHR Team</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_2":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/hr_email']};","request/subject":"Your has @{triggerOutputs()?['body/hr_name']} has been withdrawn","request/text":"<p>Hi @{triggerOutputs()?['body/hr_firstname']} @{triggerOutputs()?['body/hr_lastname']},<br>\n<br>\nYour case @{triggerOutputs()?['body/hr_name']} has been withdrawn. Please take a look the portal: https://hrtcappsdev/Corp-Serv-Gen/3/DEV/ess_lse/Portal/Home<br>\n<br>\nRegards,<br>\nHR Team</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"or":[{"equals":["@triggerOutputs()?['body/hr_casestatus']",315840005]},{"equals":["@triggerOutputs()?['body/hr_casestatus']",315840006]}]},"type":"If"}}},"expression":{"equals":["@triggerOutputs()?['body/hr_casestatus']",315840004]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}